.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 3s linear;
  }
}

.App-logo-div {
  background: url('./_.jpeg');
  animation: App-logo-change 2s forwards;
  background-size: contain;
  min-width: 500px;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

.App-logo-img {
  background: url('./disappointedkermit.jpeg');
  transition: all 0.5s ease;
  animation: App-logo-spin 1s linear;
  background-size: contain;
  min-width: 500px;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(-100vh) rotate(360deg);
  }
  to {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes App-logo-change {
  0% {
    transform: translateY(0) rotate(360deg);
  }
  100% {
    transform: translateY(800px) rotate(0deg);
  }
}

.minHeight{
  min-height: 550px;
}
@media screen and (max-width:767px) {
  .App-logo-img{
    max-width: 80%;
    min-height: 250px;
    min-width: 80%;
    margin: auto;
  }
  .App-logo-div{
    max-width: 80%;
    min-height: 250px;
    min-width: 80%;
    margin: auto;
  }
  .minHeight{
    min-height: 250px;
  }
}